<div ng-controller="userCtrl">
    <div class="page-content page-content-forgot-password">
        <div class="spinner-section hidden-section">
            <span class="spinner-details" us-spinner="{radius:20, width:8, length: 16}" spinner-key="spinner-1"></span>
        </div>
        <div class="forgot-password-content">
            <div class="heading-content">
                <h2 class="heading-text">Oops! Let's fix that.</h2>
                <h5>We'll send some reset  instructions.</h5>
            </div>
            <form name="signinForm" ng-submit="forgotPassword(email)">
                <input type="email" name="email" placeholder="your account email" ng-model="email" class="login-input-details" required>
                <div class="login-button-details">
                    <button type="submit" class="btn-details" ng-disabled="isDisabled" ng-model="isDisabled">Send Instructions</button>
                </div>
                <!-- <span us-spinner="{radius:20, width:8, length: 16}" spinner-key="spinner-1"></span> -->
            </form>
        </div>
    </div>
</div>