<!-- <!DOCTYPE html> -->
<div class="pull-left getting-started" ng-init="init()" ng-controller="questionCtrl">
	<header class="header">
		<div class="header-details header-details-getting-started">
			<label class="pull-left header-label-left"></label>
			<label class="pull-right header-label-right"><a href="#"></a></label>
			<label class="pull-right header-label-right"><a href="design_dashboard.html"></a></label>
		</div>
	</header>
	<div class="main-content pull-left">
		<div class="products-details">Getting Started</div>
		<div class="pull-left section-one section-one-getting-started visibility-hidden"></div>
		<div class="navigation-icon-getting-started">
			<a href="#"><div class="forward-icon forward-icon-getting-started"><i class="fa fa-angle-left fa-2x"></i></div></a>
		</div>
		<div class="pull-left section-two second-section section-two-getting-started">
			<div class="content-details pull-left margin-page-content">
				<div>
					<span>Numbers don't have to be hard.</span>
					<span class="colored-label colored-label-getting-started">And we want to help you make sense of everything.This, and other simple series' of question, will help walk you through your business.</span>
				</div>
			</div>
		</div>
		<div class="navigation-icon-getting-started">
			<a ng-click="setPageMainContent('source/views/questions.html')" href="#"><div class="forward-icon forward-icon-getting-started"><i class="fa fa-angle-right fa-2x"></i></div></a>
		</div>
		<div class="pull-left section-three section-three-getting-started"></div>
	</div>
	<div class="nav-thumbs" style="visibility: hidden;">
	    <ul class="navigation-list">
	        <li><a href="#" class="1 bullet-details" data-slide="1">1</a></li>
	        <li><label class="nav-bridge">----------</label><a href="#" class="2 bullet-details" data-slide="2">2</a></li>
	        <li><label class="nav-bridge">----------</label><a href="#" class="3 bullet-details" data-slide="3">3</a></li>
	        <li><label class="nav-bridge">----------</label><a href="#" class="4 bullet-details" data-slide="4">4</a></li>
	    </ul>
	</div>
</div>