<div ng-controller="shopCtrl" ng-init="init()">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Google Map Inside Tab Panel</h1>

				<ul class="nav nav-tabs" id="myTab">
					<li class="active"><a id="mapTab" href="#map" data-toggle="tab">Map View</a></li>
					<li><a href="#messages" data-toggle="tab">Table View</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="map">
						<div id="map-canvas"></div>
					</div>
					<div class="tab-pane" id="messages">
						<table class="table">
							<thead>
							<tr>
								<th>Name</th>
								<th>Addres</th>
								<th>Latitude</th>
								<th>Longitude</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="shop in shop_details_for_table">
								<td>{{ shop.name }}</td>
								<td>{{ shop.address }}</td>
								<td>{{ shop.latitude }}</td>
								<td>{{ shop.longitude }}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>