<div class="middle text-center clearfix main-content" ng-controller="shopCtrl" ng-init="init()">
	<div class="heading-content">
		<label ng-click="setPageMainContent('source/views/shop.html')"><a href="#" class="underline">Create Shop</a></label>
	</div>

	<div class="container">
		<ul class="nav nav-pills">
			<li class="active"><a data-toggle="pill" href="#home">Map View</a></li>
			<li><a data-toggle="pill" href="#menu1">Table View</a></li>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<div id="googleMap" class="google-map"></div>
			</div>
			<div id="menu1" class="tab-pane fade">
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Addres</th>
							<th>Latitude</th>
							<th>Longitude</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="shop in shop_details_for_table">
							<td>{{ shop.name }}</td>
							<td>{{ shop.address }}</td>
							<td>{{ shop.latitude }}</td>
							<td>{{ shop.longitude }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
