<div class="container"ng-controller="authCtrl">
    <div class="reset-password-details">
        <div class="bg-light lter b-b wrapper-md">
            <h1 class="m-n font-thin h3 reset-password-heading-detail">Reset Password</h1>
        </div>
        <form name="signinForm" ng-submit="resetPassword(password, confirmPassword)">
            <label class="forget-pwd-label-detail">New Password: <input type="password" name="password" id="password" class="dashboard" placeholder="Password" ng-model="password" required></label>
            <label class="forget-pwd-label-detail">Confirm Password: <input type="password" name="confirmPassword" id="confirmPassword" class="dashboard" placeholder="Confirm Password" ng-model="confirmPassword" required></label>
            <div class="button-right">
                <button type="submit" class="btn btn-reset-password-submit">Submit</button>
            </div>
        </form>
    </div>
</div>