<div ng-controller="authCtrl">
	<div class="page-content">
		<div class="spinner-section hidden-section">
			<span class="spinner-details" us-spinner="{radius:20, width:8, length: 16}" spinner-key="spinner-1"></span>
		</div>
		<div class="login-content">
			<div class="heading-content">
				<h2 class="heading-text">Financial Knowledge Awaits!</h2>
				<h5>Basic features are free for life! More powerful features can be unlocked with a subscription.</h5>
			</div>
			<form name="signupForm" ng-submit="signUp(firstname, username, password)">
				<input type="text" placeholder="Full name" class="login-input-details" name="firstname" id="firstname" ng-model="firstname" pattern="(([A-Za-z]+[\-\']?)*([A-Za-z]+)?\s)+([A-Za-z]+[\-\']?)*([A-Za-z]+)?" title="input should be alphabet only" minlength="3" maxlength="30" required>
				<input type="email" placeholder="Your email" class="login-input-details" name="username" id="username" ng-model="username" required>
				<input type="password" placeholder="Your Password" class="login-input-details" name="password" id="password" ng-model="password" minlength="8" maxlength="20" required>
				<div class="login-button-details">
					<button type="submit" class="btn-details" ng-disabled="isDisabled" ng-model="isDisabled">Sign Up</button>
				</div>
			</form>
		</div>
		<div class="signup-section-details">
			<a ng-click="setPageMainContent('source/views/home.html')" href="#">
				<h2 class="heading-text">Already Signed up?</h2>
				<h5 class="underline">Log In</h5>
			</a>
		</div>
	</div>
</div>