<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" ng-click="setMainContentUrl('source/views/home.html')">GoogleMap</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"  ng-show="{{userProfile}}">
                <a href="#" ng-click="setMainContentUrl('source/views/dashboard.html')">Home</a>
            </li>
            <li class="dropdown" ng-show="{{isUserRole}}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Role <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" ng-click="setMainContentUrl('source/views/role/add.html')" ng-show="{{isUserAddRole}}">Add</a>
                        <a href="#" ng-click="setMainContentUrl('source/views/role/update.html')" ng-show="{{isUserUpdateRole}}">Update</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" ng-show="{{userPrivileges.indexOf('Add shop') != -1}}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shop <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" ng-click="setMainContentUrl('source/views/shop.html')">Create</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li  ng-hide="{{userProfile}}">
                <a href="#" ng-click="setMainContentUrl('source/views/user/signup.html')"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
            </li>
            <li  ng-hide="{{userProfile}}">
                <a href="#" ng-click="setMainContentUrl('source/views/user/signin.html')"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
            <li ng-controller="userCtrl" class="dropdown" ng-show="{{userProfile}}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>{{userName}}</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" ng-click="setMainContentUrl('source/views/user/profile/view.html')">Profile</a>
                    </li>
                    <li>
                        <a href="#" ng-click="logout()">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>